<div class = "side-top">
  <div class = "user-name">
    <a href=#>Tom</a>
  </div>
  <div class = "make-chat" > 
    <a href=#>チャットをする</a>
  </div>
</div>

<div class = "side-bottom">
  <div class ="chat-room-name">
    <a href>testroom</a>
  </div>
  <div class ="chat-room-name">
    <a href>testroom2</a>
  </div>
</div>
