<div class = "side-top">
  <div class = "user-name">
    <!--<a href=#>Tom</a> -->
    <%= link_to "#{current_user.name}", edit_user_path(current_user) %>
  </div>
  <div class = "make-chat" > 
    <%= link_to "チャットをする", new_room_path(current_user) %>
  </div>
</div>

<div class = "side-bottom">
  <% current_user.rooms.each do |room| %>
  <div class ="chat-room-name">
    <%= link_to room.name, room_messages_path(room) %>
  </div>
  <% end %>
</div>
